@charset "UTF-8";
/* CSS Document */

/* Reset Style Rules */

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    -webkit-text-size-adjust: 100%;
    /* text-rendering:optimizeLegibility;
    font-kerning: normal; */
}
body {
    background-color: rgb(200, 200, 200);
}
.nft-card {
    position: relative;
    width: 328px;
    height: 543px;
    margin: 0px auto 0px auto;
    background-color: hsl(216, 50%, 16%);
    border-radius: 18px;
    outline: 1px solid red;
}
.equilibrium-image {
    padding: 20px 20px 0px 20px;
}
.equilibrium-image img {
    position: relative;
    width: 100%;
    border-radius: 12px;
}
.section-nft-01 {
    position: relative;
    margin: 0px 20px 0px 20px;
}
h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}
p {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
}
ul {
    display: flex;
    position: relative;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    list-style-type: none;
}
hr {
    display: block;
    margin: 20px auto 20px auto;
    border-style: inset;
    border-color: hsl(215, 51%, 70%);
    border-width: 1px;
}
.creator-image {
    display: inline-block;
    position: relative;
}
.creator-image img {
    width: 30%;
    position: relative;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 25px;
}
.creator {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }