@charset "UTF-8";
/* CSS Document */

/* Reset Style Rules */

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    -webkit-text-size-adjust: 100%;
    /* text-rendering:optimizeLegibility;
    font-kerning: normal; */
}
body {
    /* background-color: rgb(200, 200, 200); */
    background-color: hsl(217, 54%, 11%);

}
.nft-card {
    /* background-image: url("../images/guide-templates/nft-mobile-template-50.png"); */
    display: block;
    position: relative;
    width: 328px;
    height: 543px;
    margin: 15% auto 0px auto;
    background-color: hsl(216, 50%, 16%);
    background-size: cover;
    border-radius: 18px;
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, .4);
}
.equilibrium-image-holder {
    padding: 25px 25px 24px 25px;
    height: 278px;
    /* outline: 1px solid red; */
}
.equilibrium-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../images/image-equilibrium.jpg");
    background-size: cover;
    border-radius: 12px;
}
.equilibrium-image:hover::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/icon-view.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: hsla(178, 100%, 50%, .5);
    border-radius: 12px;
}
.equilibrium-image img:hover {
    background-color: hsl(178, 100%, 50%);
}
.section-nft-01 {
    position: relative;
    margin: 0px 25px 0px 25px;
}
h1 a {
    position: relative;
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
h1 a:hover {
    color: hsl(178, 100%, 50%);
}
p {
    position: relative;
    top: 12px;
    line-height: 26px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
}
ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
    list-style-type: none;
    margin: 26px 0px 0px 0px;
}
li img {
    display: inline-block;
    position: relative;
    top: 3px;
    margin: 0px 5px 0px 0px;
}
.eth {
    display: inline-block;
    position: relative;
    font-weight: 400;
    color: hsl(178, 100%, 50%)    ;
}
hr {
    display: block;
    margin: 15px auto 14px auto;
    border-style: inset;
    border-color: hsl(215, 32%, 27%);
    border-width: 1px;
}
.creator-group {
    display: flex;
    position: relative;
    width: 100%;
    /* outline: 1px solid red; */
}
.creator-image {
    position: relative;
    width: 11%;
    height: 11%;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 100%;
    margin: 1px 15px 0px 0px;
    /* outline: 1px solid red; */
}
.creator-tag {
    position: relative;
    top: 4px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
    letter-spacing: -.025em;
    /* outline: 1px solid red; */
}
.creator-name {
    top: 4px;
    letter-spacing: -.025em;
}
.creator-name a {
    color:hsl(0, 0%, 100%);
    text-decoration: none;
}
.creator-name a:hover {
    color: hsl(178, 100%, 50%);
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin: 35px 0px 0px 0px;
    color: hsl(228, 45%, 44%);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.attribution a:hover {
    color: hsl(178, 100%, 50%);
}

@media screen and (min-width: 1025px) {
    .nft-card {
        /* background-image: url("../images/guide-templates/desktop-preview-template-50.png"); */
        width: 350px;
        height: 596px;
        margin: 10.5% auto 0px auto;
    }
    .equilibrium-image-holder {
        padding: 25px 25px 25px 25px;
        height: 300px;
    }
    p {
        top: 17px;
        font-size: 18px;
    }
    ul {
        margin: 38px 0px 0px 0px;
    }
    hr {
        margin: 24px auto 14px auto;
    }
    .creator-image {
        width: 10%;
        height: 10%;
        margin: 2px 16px 0px 0px;
    }
    .creator-tag {
        letter-spacing: 0em;
    }
    .creator-name {
        font-size: 16px;
        letter-spacing: 0em;
    }
}